.body {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    gap: 1em;
}

.selectedHandler {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
}

