.main{
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
  margin-top: 1em;
  margin-bottom: 1em;
}
.headTop{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}
.headLeft{
  background-size: cover;
  box-sizing: border-box;
  background-color: beige;
  width: 27em;
  height: auto;
  overflow: hidden;
  border: 1px solid lightgray;
  object-fit: cover;
}
.headRight{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 27em;
  text-align: end;
  border: 1px solid lightgray;
  gap: 1em;
  padding: 1em;
  height: auto;
}

.priceTag{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.selectSize{
  font-size: 1em;
  height: 2em;
}

.textBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  font-size: 1.2em;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

/* 버튼 CSS */
.textButton{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sideTextButton{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;
}

.mainButton{
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  padding: 1rem 2rem;
  color: white;
  background-color: var(--background-color-set);
  border-radius: 5dvw;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.5em;
}
.sideButton{
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  padding: 1rem 2rem;
  color: #000;
  background-color: #ccc;
  border-radius: 5dvw;
  border: none;
  cursor: pointer;
  white-space: pre;
  transition: background-color 0.3s ease;
  margin-top: 0.5em;
}

/* 베스트 리뷰, 추천 상품 */
.headAtcTab{
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  width: clamp(30em, 100%, 50em);
  box-sizing: border-box;
  padding: 1.5em;
  border: 1px solid lightgray;
  margin-bottom: 1em;
}
.rowAtcTab{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.colAtcTab{
  width: 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.recommendTitle{
  display: flex;
  flex-direction: row;
}

.recommendPrice{
  display: flex;
  flex-direction: row;
  font-weight: 750;
}

/* 이미지 CSS */
.frame{
  width: 150px;
  overflow: hidden;
  border: 1px solid lightgray;
  margin-bottom: 1em;
}

.thumnail{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headBottom{
  width: 140%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 글자(폰트) CSS */
.h4{
  font-size: 1.2em;
  font-weight: 950;
  color: red;
}

.spanTag{
  height: 2em;
  font-size: clamp(0.5em, 0.7vw, 1em); 
  word-break: keep-all;
  text-overflow: ellipsis;
}

.finalprice{
  font-size: 1.2em;
  font-weight: 650;
}

.input{
  font-size: 1em;
  width: 4em;
  height: 2em;
}

/* tab Sticky */
.sticky{
  top: 100px;
  position: sticky;
  z-index: 999;
  height: 40px;
  margin-bottom: 1em;
  width: 100%;
}

/* 스켈레톤 부분 */
.skeleton{
  display: flex;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  border-radius: 10dvw;
}
.colskeleton{
  padding: 1em;
  height: 10em;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  gap: 1em;
  cursor: pointer;
}
.frameskeleton{
  background-color: lightgray;
  width: 10em;
  height: 5em;
  overflow: hidden;
}
.nameskeleton{
  width: 100%;
  height: 2em;
  background-color: lightgray;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 0.8dvw;
}
.priceskeleton{
  height: 1em;
  background-color: lightgray;
  text-align: end;
  border-radius: 0.8dvw;
}
