.main{
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
  margin-top: 1em;
  margin-bottom: 1em;
}
.headTop{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}
.headLeft{
  background-size: cover;
  box-sizing: border-box;
  background-color: beige;
  width: 25em;
  height: 34em;
  overflow: hidden;
  border: 1px solid lightgray;
  object-fit: cover;
}
.headRight{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 25em;
  height: 34em;
  text-align: end;
  border: 1px solid lightgray;
  gap: 1em;
  padding: 1em;
}

.textBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  font-size: 1.2em;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

/* 버튼 CSS */
.textButton{
  display: flex;
  flex-direction: column;
}

.sideTextButton{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mainButton{
  font-size: 1em;
  font-weight: bold;
  padding: 1rem 2rem;
  color: white;
  background-color: var(--background-color-set);
  border-radius: 5dvw;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.5em;
  margin-right: 0.3em;
  margin-left: 0.3em;
}
.sideButton{
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  padding: 1rem 2rem;
  color: #000;
  background-color: #ccc;
  border-radius: 5dvw;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.5em;
  margin-right: 0.3em;
  margin-left: 0.3em;
}

/* 베스트 리뷰, 추천 상품 */
.headAtcTab{
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  width: clamp(30em, 100%, 50em);
  box-sizing: border-box;
  padding: 1.5em;
  border: 1px solid lightgray;
  margin-bottom: 1em;
}
.rowAtcTab{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.colAtcTab{
  width: 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.recommendTitle{
  display: flex;
  flex-direction: row;
}

.recommendPrice{
  display: flex;
  flex-direction: row;
  font-weight: 750;
}

/* 이미지 CSS */
.frame{
  width: 150px;
  overflow: hidden;
  border: 1px solid lightgray;
  margin-bottom: 1em;
}

.thumnail{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headBottom{
  width: 140%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 글자(폰트) CSS */
.h4{
  font-size: 1.2em;
  font-weight: 950;
  color: red;
}

.spanTag{
  height: 2em;
  font-size: clamp(0.5em, 0.7vw, 1em); 
  word-break: keep-all;
  text-overflow: ellipsis;
}

.finalprice{
  font-size: 1.2em;
  font-weight: 650;
}

.input{
  font-size: 1em;
  width: 4em;
  height: 2em;
}


/* 탭 내부 사항 */
.tabInnerHeader{
  width: clamp(30em, 50%, 50em);
  padding: 1em;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-bottom: 1px solid lightgray;
  justify-content: center;
  word-wrap: break-word;
}


/* 리뷰 CSS */
.reviewHeader{
  text-align: left;
  display: flex;
  flex-direction: column;
}

.reviewViewToggle{
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em;
}

.reviewToggleInner{
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.graph{
  font-size: small;
}

.reviewTab{
  display: flex;
  flex-direction: row;
  background-color: var(--background-color-set);
  color: lightgray;
  padding: 0.5em;
  justify-content: space-between;
}

.reviewTabFilter{
  display: flex;
  flex-direction: row;
  gap: 0.3em;
  align-items: center;
  cursor: pointer;
}

.reviewTabFront::before{
  content: '| ';
  color: lightgray;
}

.reviewTabRatingView{
  width: 30%;
  display: flex;
  position: relative;
  justify-content: space-between;
  border: 1px solid white;
  padding: 0.5em;
  align-items: center;
  cursor: pointer;
}

.review{
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 1px solid lightgray;
  gap: 1em;
  margin-bottom: 2em;
  border-bottom: 6px solid lightgray;
}

.review:last-child{
  margin-bottom: 5em;
}

.reviewList{
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.reviewListProfile{
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

.reviewListProfileImg{
  width: 3em;
  height: 3em;
  border: 1px solid lightgray;
  border-radius: 40em;
  overflow: hidden;
}

.reviewListProduct{
  color: gray;
}

.reviewImg{
  display: flex;
  flex-direction: row;
  gap: 1em;
  background-color: lightgray;
  padding: 1em;
}

/* 스켈레톤 부분 */
.skeleton{
  display: flex;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  border-radius: 10dvw;
}
.colskeleton{
  padding: 1em;
  height: 10em;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  gap: 1em;
  cursor: pointer;
}
.frameskeleton{
  background-color: lightgray;
  width: 10em;
  height: 5em;
  overflow: hidden;
}
.nameskeleton{
  width: 100%;
  height: 2em;
  background-color: lightgray;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 0.8dvw;
}
.priceskeleton{
  height: 1em;
  background-color: lightgray;
  text-align: end;
  border-radius: 0.8dvw;
}

.filterUI{
  display: block;
  position: absolute;
  top: 110%;
  z-index: 99;
  right: 0%;
}

.filterStar{
  width: 10em;
  padding: 1em;
  justify-content: space-between;
  box-shadow: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cc0000;
  gap: 0.5em;
}

.filterInner{
  background-color: white;
  width: 100%;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  color: black;
}

/* tab Sticky */
.sticky{
  top: 110px;
  position: sticky;
  z-index: 989;
  height: 40px;
  width: clamp(30em, 50%, 50em);
}