.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* 모달을 위로 떠오르게 설정 */
}

.modalWindow {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  border: 1.5px solid grey;
  border-radius: 1dvb;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 40em;
  height: 35.1em;
}

.exit {
  display: flex;
  justify-content: flex-end;
  border: none;
  border-radius: 2dvh;
  font-size: 2em;
  font-weight: bold;
  padding-top: 0.15em;
  padding-right: 0.3em;
  padding-bottom: 0;
  cursor: pointer;
}

.post {
  display: flex;
  justify-content: left;
  padding: 0.8em;
  padding-bottom: 0;
  padding-top: 0;
  font-size: 1.8em;
  font-weight: bold;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 1em;
  font-size: 1.3em;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 1em;
  padding-top: 0;
  font-size: 1.3em;
}

.title_label,
.content_label {
  font-weight: bold;
  width: 10%;
  text-align: left;
  padding-left: 0.4em;
  margin-bottom: 0.2em;
  
}

.title_input {
  width: 100%;
  height: 2.5em;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 2px solid gray;
  border-bottom: 2.7px solid gray;
  border: 1px 2px 3px 4px solid gray;
  border-radius: 1.5dvh;
}

.content_input {
  width: 96%;
  padding: 0.5em;
  font-size: 1.2em;
  height: 10em;
  border: 1.5px solid gray;
  border-right: 2px solid gray;
  border-bottom: 2.5px solid gray;
  border-radius: 1.5dvh;
}

.addButtonContainer {
  display: flex;
  justify-content: center;
}

.addButton {
  cursor: pointer;
  width: 6em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1dvb;
  background-color: #CC0000;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}.addButton:hover {
  background-color: #fe4b4b;
}

