/* 탭 내부 사항 */
.tabInnerHeader{
  width: clamp(30em, 50%, 50em);
  padding: 1em;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-bottom: 1px solid lightgray;
  justify-content: center;
  word-wrap: break-word;
}


/* 리뷰 탭 CSS */
.reviewHeader{
  text-align: left;
  display: flex;
  flex-direction: column;
}

.reviewViewToggle{
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em;
}

.reviewToggleInner{
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.graph{
  font-size: small;
}

.reviewTab{
  display: flex;
  flex-direction: row;
  background-color: var(--background-color-set);
  color: lightgray;
  padding: 0.5em;
  justify-content: space-between;
}

.reviewTabFilter{
  display: flex;
  flex-direction: row;
  gap: 0.3em;
  align-items: center;
  cursor: pointer;
}

.reviewTabFront::before{
  content: '| ';
  color: lightgray;
}

.reviewTabRatingView{
  width: 30%;
  display: flex;
  position: relative;
  justify-content: space-between;
  border: 1px solid white;
  padding: 0.5em;
  align-items: center;
  cursor: pointer;
}

.review{
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 1px solid lightgray;
  gap: 1em;
  margin-bottom: 2em;
  border-bottom: 6px solid lightgray;
}

.review:last-child{
  margin-bottom: 5em;
}

.reviewList{
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.reviewListProfile{
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

.reviewListProfileImg{
  width: 3em;
  height: 3em;
  border: 1px solid lightgray;
  border-radius: 40em;
  overflow: hidden;
}

.reviewListProduct{
  color: gray;
}

.reviewImg{
  display: flex;
  flex-direction: row;
  gap: 1em;
  background-color: lightgray;
  padding: 1em;
}

/* 별점 필터 */
.filterUI{
  display: block;
  position: absolute;
  top: 110%;
  z-index: 99;
  right: 0%;
}

.filterStar{
  width: 10em;
  padding: 1em;
  justify-content: space-between;
  box-shadow: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cc0000;
  gap: 0.5em;
}

.filterInner{
  background-color: white;
  width: 100%;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  color: black;
}


/* 상품 정보 */
.productDetail{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1em;
}

.productDetailInner{
  width: 49%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid lightgray;

}

.productDetail_label{
  display: flex;
  width: 30%;
  background-color: rgb(239, 233, 233);
  justify-content: center;
}

.productDetail_content{
  display: flex;
  width: 70%;
  justify-content: center;
}



/* Q & A 탭 */
.table{
  width: 100%;
  border-top: 3px solid black;
  border-bottom: 1px solid lightgray;
}

.title{
  width: 50%;
}

.titleTd{
  display: flex;
  align-items: center;
  padding-left: 1em;
  cursor: pointer;
}

.titleTd:hover{
  color: grey;
}

.buttonContainer{
  font-size: 1.2em;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.button{
  border: 1px solid lightgray;
  background-color: white;
  padding: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.question{
  font-weight: 550;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.qnATop{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.buttonBox{
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

/* 스켈레톤 부분 */
.skeleton{
  display: flex;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  border-radius: 10dvw;
}
.colskeleton{
  padding: 1em;
  height: 10em;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  gap: 1em;
  cursor: pointer;
}
.frameskeleton{
  background-color: lightgray;
  width: 10em;
  height: 5em;
  overflow: hidden;
}
.nameskeleton{
  width: 100%;
  height: 2em;
  background-color: lightgray;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 0.8dvw;
}
.priceskeleton{
  height: 1em;
  background-color: lightgray;
  text-align: end;
  border-radius: 0.8dvw;
}
