.background{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid lightgray;
  background-color: white;
}

.searchFilter{
  display: flex;
  flex-direction: row;
  width: 5em;
  border: 3px solid gray;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
}
