.mainContainer {
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    gap: 1em;
    flex: 1;
}

.filtSortContainer {
    display: flex;
    gap: 10px;
    height: max-content;
}

.FilterSearch_User {
    flex: 50%;
}

.Sort_UserList {
    flex: 50%;
}

/* --------Selected Handler-------- */
.selectedHandler {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
}

.marginLeft {
    margin-left: 5px;
}

/* --------dropdown-menu-------- */
.RnD_handler {
    display: flex;
    flex-direction: row;
}