.body {
    display: flex;
}

.mainContainer {
    margin: 1em;
    flex: 1;
}

.filtSortContainer {
    display: flex;
    gap: 10px;
    height: max-content;
}
.FilterSearch_User {
    flex: 50%;
}
.Sort_UserList {
    flex: 50%;
}

.userTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.button {
    background-color: rgb(204, 94, 53);
    color: white;
    border: none;
    border-radius: 1dvh;
    padding: 0.5em 1.3em;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}