.body {
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.sortItems {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.labelContainer {
    display: flex;
    gap: 1em;
    align-items: center;
}

.sortItems select {
    margin-left: 1em;
    width: 150px;
    overflow: hidden;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding-right: 25px;
}

.button {
    margin-top: 10px;
    background-color: var(--button-background-color);
    color: white;
    border: none;
    border-radius: 1dvh;
    padding: 0.5em 1.3em;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: var(--button-hover-background-color);
}
