.filtSortContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sortContainer {
    margin-bottom: 20px;
}

.sortItems {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 40px;
}

.button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
  }
  