/* --------Body-------- */
.body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* --------Header-------- */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header_txt {
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

.denoteNumber_select {
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 1vh;
    cursor: pointer;
}


/* --------Main-------- */


/* --------Selected Handler */
.selectedHandler {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
}

/* --------PageMoveHandler-------- */
.pageMoveHandler {
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.currnetPage {
    display: flex;
    padding: 10px;
}

.moveButton {
    border: 1px solid lightgray;
    background-color: white;
    padding: 0.5em 1em 0.5em 1em;
    cursor: pointer;
}

.moveButton:hover {
    background-color: var(--main-color-light);
    transition: background-color 0.3s;
}
