/* -------------------- TopBanner -------------------- */
/* 위치 조정 */
  .menuLocation{
    height: 95vh;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    list-style: none;
    transition: transform 0.3s ease; /* 변환 효과를 부드럽게 적용합니다. */
    z-index: 999;
  }

  /* 네비게이션 내부 링크 스타일링 (옵션) */
  .link {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: 550;
    text-wrap: nowrap;
    cursor: pointer;
  }

  .subMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .sub_item{
    width: 7em;
    padding: 1em;
    font-size: large;
    text-wrap: nowrap;
  }
  .sub_item:hover{
    background-color: lightgray;
  }

  .active{
    padding: 1em;
    width: 100%;
    font-size: large;
    white-space: nowrap;
    color: #CC0000;
  }