/* ---------------main--------------- */

.main {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    align-items: center;
    margin: 1em;
    padding: 1em;
    gap: 1em;
}

.container {
    width: 90%;
    display: flex;
    padding-bottom: 1em;
    border-bottom: 1px solid lightgray;
}

.container:last-child {
    display: flex;
    padding-bottom: none;
    border-bottom: none;
}

.label {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 0px 20px 0px 20px;
}

.content {
    display: flex;
}

.searchFilterList {
    display: flex;

}

.input,
.select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.input:hover,
.select:hover {
    border-color: rgb(174, 79, 44);
}
/* ---------------배송상태필터링 체크박스 컴포넌트--------------- */
.deliState_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: center;
    gap: 20px;
}
.deliveryStateLabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: center;
}
.deliveryStateCheckbox {
    margin: 0;
    padding: 0;
}
/* ---------------날짜필터 컴포넌트--------------- */
.dateFilter_container {
    display: flex;
    flex-direction: row;
    vertical-align: center;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}
.dateRange {
    padding: 3px 10px;
    border: 1px solid lightgray;
}