/* ---------------main--------------- */

.main {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    align-items: center;
    justify-content: flex-start;
    margin: 1em;
    padding: 1em;
    gap: 1em;
}

.container {
    width: 90%;
    display: flex;
    padding-bottom: 1em;
    border-bottom: 1px solid lightgray;
}

.container:last-child {
    display: flex;
    padding-bottom: none;
    border-bottom: none;
}

.label {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 0px 20px 0px 20px;
}

.content {
    display: flex;
}

.searchFilterList {
    display: flex;

}

.button {
    border: 1px solid lightgray;
    background-color: white;
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    cursor: pointer;
}
.button:hover {
    background-color: var(--main-color-light);
    transition: background-color 0.3s;
}

.input,
.select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.input:hover,
.select:hover {
    border-color: rgb(174, 79, 44);
}
/* function - deliState */
.deliState_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: center;
}

/* ---------------function - deliState--------------- */
.state_checkbox {
}
.state_label {
    margin-right: 20px;
}
/* ---------------function - dateFilter--------------- */
.date {
    padding: 5px;
}
.dateFilter_container {
    display: flex;
    flex-direction: row;
    vertical-align: center;
    align-items: center;
    gap: 10px;
}
.dateButton {
    border: 1px solid rgb(188, 188, 188);
    border-radius: 1vh;
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 14px;
}
.dateButton:hover {
    background-color: #ddd;
    transition: background-color 0.3s;
    cursor: pointer;
}