.categoryLocation{
  display: flex;
  justify-content: flex-end;
}

.categoryBarContainer {
  width: 76.3em;
  background-color: #FFF;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  white-space: nowrap;
  list-style-type: none;  
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.category {
  padding: 1em;
  font-size: large;
  white-space: wrap;
  word-wrap: wrap;
  text-align: center;
  color: black;
}

.category:hover{
  background-color: var(--background-color-set);
  color: #FFF;
  border-radius: 1dvb;
}