.customModalOverlay {
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  border-bottom: 1px solid lightgray;
}

.customModalContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
}

.categoryBarContainer {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  background-color: #FFF;
  position: relative;
  align-items: center;
  text-align: center;
  list-style-type: none;
  gap: 1em; /* 그리드 아이템 간의 간격 */
  justify-content: space-around; /* 그리드 아이템을 가로 방향으로 중앙 정렬 */
}

.category {
  background-color: lightgray;
  color: black;
  margin-bottom: 0.2em;
  width: 70%;
  margin-top: 1em;
  gap: 1em;
  padding: 1em;
  font-size: 15px;
  text-align: left;
  border-radius: 1dvb;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.category_low {
  color: black;
  width: 100%;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}

.category_low:hover{
  color: var(--background-color-active);
}

.category:hover {
  background-color: var(--background-color-active);
  color: #FFF;
  border-radius: 1dvb;
}

.subMenuContainer{
  display: flex;
  flex-flow: row wrap;
  background-color: white;
  border-radius: 1dvb;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  justify-content: flex-start; /* 그리드 아이템을 가로 방향으로 중앙 정렬 */
  margin-left: 10px;
}

.listStyle{
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 28em;
}

.listStyle_low{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.5em;
  gap: 0.5em;
  overflow-y: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 13em;
}