/* -------------------- TopBanner -------------------- */

/* 상단바 고정 작업 */
.body {
  width: 100%;
  top: 0;
  position: sticky;
  z-index: 999;
  margin: 0;
}

/* 화면 넓이에 꽉 맞도록 설정 */
.top_container {
  display: flex;
  width: 100%;
  height: 10vh;
  min-height: 10vh;
  max-height: 10vh;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.top_nav {
  display: flex;
  width: 100%;
  align-items: center;
  list-style-type: none;
  white-space: nowrap;
}

/* 로고 15% */
.logo {
  display: flex;
  flex: 15%; 
  margin-left: 1em;
}

.inLogo_shortimg {
  display: none;
  cursor: pointer;
}

.inLogo_img {
  cursor: pointer;
}

/* 검색창 30% */
.searchBar {
  flex: 40%; /* 수정 */
  margin-right: 2em;
}

/* 분류 검색창 40% */
.seperateSearchBar {
  flex: 30%; /* 수정 */
  margin-right: 1.5em;
}

/* 카테고리 아이콘 5% */
.cate_icon {
  flex: 5%;
}

/* 로그인 10% */
.login {
  flex: 10%;
  margin-right: 1em;
}

/* -------------------------------------------------------- */

/* 네비게이션 내부 링크 스타일링 (옵션) */
.link {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  font-weight: 550;
  cursor: pointer;
}

.link_signIn {
  background-color: var(--background-color-set);
  height: 45px;
  color: #FFF;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.3em;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  border: none;
  border-radius: 1dvb;
  justify-content: center;
  align-items: center;
}

.align_iconNtext {
  display: flex;
  text-align: center;
  align-items: center;
}

.sub_item {
  padding: 1em;
  font-size: large;
  word-wrap: wrap;
}

.sub_item:hover {
  background-color: lightgray;
}

.categoryBar {
  flex-grow: 1;
  /* 메인 콘텐츠가 남은 공간을 채우도록 설정합니다. */
  height: 100%;
}

.menuBar {
  height: 0;
}

@media screen and (max-width: 768px) {
  .text {
    display: none;
    /* 텍스트 숨김 */
  }

  .image {
    display: none;
  }

  .shortimage {
    display: block;
  }
}

@media screen and (max-width: 1200px) and (min-width: 769px) {
  .text {
    display: none;
    /* 텍스트 숨김 */
  }

  .searchInputContainer {
    width: 10em;
    /* 텍스트 숨김 */
  }
}
