/* -------------------- TopBanner -------------------- */

/* 상단바 고정 작업 */
.body {
  width: 100%;
  top: 0;
  position: sticky;
  z-index: 999;
  margin: 0;
}

/* 화면 넓이에 꽉 맞도록 설정 */
.top_container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.top_nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  white-space: nowrap;
}

/* 로고 15% */
.logo {
  display: flex;
  margin-left: 1em;
}

.inLogo_shortimg {
  display: none;
  cursor: pointer;
}

.inLogo_img {
  cursor: pointer;
}

/* 검색창 30% */
.searchBar {
  margin-right: 2em;
  flex: 50%;
}

/* 분류 검색창 40% */
.seperateSearchBar {
  flex: 50%;
  margin-right: 0.5em;
}

/* 카테고리 아이콘 5% */
.cate_icon {
  margin: 0.2em;
}

/* 로그인 10% */
.login {
  margin-right: 1em;
}

/* -------------------------------------------------------- */

/* 네비게이션 내부 링크 스타일링 (옵션) */
.link {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  font-weight: 550;
  cursor: pointer;
}

.link_signIn {
  background-color: var(--background-color-set);
  height: 45px;
  color: #FFF;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.3em;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  border: none;
  border-radius: 1dvb;
  justify-content: center;
  align-items: center;
}

.align_iconNtext {
  display: flex;
  text-align: center;
  align-items: center;
}

.sub_item {
  padding: 1em;
  font-size: large;
  word-wrap: wrap;
}

.sub_item:hover {
  background-color: lightgray;
}

.categoryBar {}

.menuBar {
  height: 0;
}

@media screen and (max-width: 768px) {
  .text {
    display: none;
    /* 텍스트 숨김 */
  }

  .image {
    display: none;
  }

  .shortimage {
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .text {
    display: none;
    /* 텍스트 숨김 */
  }

  .searchBar {
    margin-right: 1.2em;
  }

}

@media screen and (max-width: 1000px) {
  .seperateSearchBar {
    display: none;
  }
}