.categoryBarContainer {
  width: 100%;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  list-style-type: none;
  gap: 5em;
  border-bottom: 1px solid lightgray;
}

.category {
  padding: 1em;
  font-size: large;
  white-space: wrap;
  word-wrap: wrap;
  text-align: center;
  color: black;
}

.category:hover{
  background-color: var(--background-color-set);
  color: #FFF;
  border-radius: 1dvb;
}