.categoryBarContainer {
  width: 100%;
  background-color: #FFF;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  list-style-type: none;
  gap: 5em;
}

.category {
  padding: 1em;
  font-size: large;
  white-space: wrap;
  word-wrap: wrap;
  text-align: center;
  color: black;
}

.category:hover{
  background-color: var(--background-color-clicked);
  color: #FFF;
  border-radius: 1dvb;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  font-weight: 550;
  cursor: pointer;
}