/* Input 창 컨테이너 스타일 */
.searchInputContainer {
  display: flex;
  width: 300px;
  height: 2em;
  align-items: center;
  justify-content: center;
  border: 0.2em solid #CC0000;
  border-radius: 10dvw;
  padding: 0.4em;
  margin: 0;
  justify-content: space-between;
}

/* Input 창 스타일 */
.searchInput {
  width: 100%;
  height: 100%;
  border-radius: 10dvw;
  font-size: 1em;
  border: none;
  margin: 0;
  padding: 0.3em;
  padding-left: 0.5em;
}

/* 검색 링크 스타일 */
.searchLink {
  display: block;
  text-align: center;
  color: white;
  font-size: large;
}

i.fas.fa-search {
  font-size: 18px;
  color: #555;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
}
