
/* 슬라이더 컨테이너 */
.sliderContainer {
  padding-top: 2em;
  overflow: hidden;
  width: 300vw;
  max-width: 500px; /* 원하는 크기로 설정 */
  margin: 0 auto;
  object-fit: cover;
}

/* 이미지들을 옆으로 이동시키기 위한 슬라이더 트랙 */
.sliderTrack {
  display: flex;
  width: 500px;
  transition: transform 0.5s ease-in-out;
}

/* 각 이미지 슬라이드 */
.slide {
  width: 500px;
  height: auto;
}