/* -------------------- TopBanner -------------------- */
/* 위치 조정 */
.menuLocation {
  width: 200px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  list-style: none;
  transition: transform 0.5s ease;
}

/* 네비게이션 내부 링크 스타일링 (옵션) */
.link {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  font-weight: 550;
  white-space: nowrap;
  cursor: pointer;
}

.subMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.sub_item {
  padding: 1em;
  width: 100%;
  font-size: large;
  white-space: nowrap;
}

.sub_item:hover {
  background-color: lightgray;
  transition: background-color 0.5s ease;
}

.active{
  padding: 1em;
  width: 100%;
  font-size: large;
  white-space: nowrap;
  color: #CC0000;
}