/* NoticeMini.module.css */
.noticeMiniContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 1vh;
  background-color: #f8eeee;
  box-shadow: black;
}

.noticeList {
  border-radius: 1dvh;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.noticeItem {
  background-color: rgb(255, 255, 255);
  display: flex;
  margin-top: 10px;
  max-height: 20px;
  padding: 10px;
  border-radius: 1vh;
  overflow: hidden;
}
.noticeItem:hover {
  border-left: 2px solid rgb(255, 168, 168);
  cursor: pointer;
}

.itemTitle {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 표시할 줄 수 */
  -webkit-box-orient: vertical;
}

.view_all {
  cursor: pointer;
  color: rgb(0, 0, 0);
} .view_all:hover {
  color: #cc0000;
  font-weight: bold;
}