.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(20% - 20px), 1fr));
  gap: 1em;
  justify-content: space-around;
  margin-left: 10px;

}

/* 각 상품 블럭 */
.gridItem {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(20% - 20px);
  margin-top: 1em;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  border-radius: 1vh;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 400px;
}

.gridItem:hover {
  transform: scale(1.05);
}

/* 상품 이미지 컨테이너 */
.thumnail_container {
  flex: 50%;
  overflow: hidden;
  border-radius: 1vh;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* 이미지 썸네일 */
.thumnail {
  width: 100%;
  height: auto;
  display: block;
}

.productInfo_container {
  flex: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  padding: 10px;
}

.product_title {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}


.product_price {
  display: flex;
  flex-direction: column;
}

.product_price h3 {
  margin: 0;
}

.discountSection {
  display: flex;
  align-items: start;
  justify-content: flex-start;
}

.discountText {
  color: gray;
  text-decoration: line-through;
}

.discountPercentage {
  color: red;
  font-weight: 750;
}

.discountedPrice {
  color: black;
  font-weight: bold;
}

/* Skeleton Layout */
.gridItemSkeleton,
.frameSkeleton,
.nameSkeleton,
.priceSkeleton {
  width: 100%;
  height: 200px;
  background-color: #f0f0f0;
  border-radius: 8px;
  margin-bottom: 20px;
}

.frameSkeleton {
  height: 60%;
}

.nameSkeleton,
.priceSkeleton {
  height: 20px;
}