.img {
    width: 100%;
    table-layout: fixed;
    margin-left: 10px;
    display: flex;
    gap: 0.8em;
}

.image{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 적절한 그림자 속성 적용 */
    width: 98%;
    max-width: 945px;
    float: left;
    height: auto;
    overflow: hidden;
    position: relative;
    border-radius: 2vh;
}

@media (min-width: 1100px) {

    /* 1100px 이상일 때 */
    .img {
        flex-direction: row;
    }
}

@media (max-width: 1099px) {

    /* 1100px 미만일 때 */
    .img {
        flex-direction: column;
    }
}