.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* 슬라이더 컨테이너 */
.sliderContainer {
  padding-top: 2em;
  overflow: hidden;
  width: clamp(200px, 30vw, 50em);
  max-width: clamp(200px, 30vw, 50em); /* 원하는 크기로 설정 */
  margin: 0 auto;
  object-fit: cover;
}

/* 이미지들을 옆으로 이동시키기 위한 슬라이더 트랙 */
.sliderTrack {
  display: flex;
  width: clamp(200px, 30vw, 50em);
  transition: transform 0.5s ease-in-out;
}

/* 각 이미지 슬라이드 */
.slide {
  width: clamp(200px, 30vw, 50em);
  height: auto;
}

@media screen and (max-width: 768px) {
  .container{
    display: none;
  }
  .sliderContainer{
    display: none;
  }
  .sliderTrack{
    display: none;
  }
  .slide{
    display: none;
  }
}