.img {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

@media (min-width: 1100px) {

    /* 1100px 이상일 때 */
    .img {
        flex-direction: row;
    }
}

@media (max-width: 1099px) {

    /* 1100px 미만일 때 */
    .img {
        flex-direction: column;
    }
}