/* 큰 컨테이너 */
.container{
  width: 90%;
  display: flex;
  margin-left: 5%;
  flex-direction: column;
  gap: 1em;
}

.title{
  width: 100%;
  margin: 2em;
  padding-bottom: 1%;
  margin-right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #cc0000;
}

.searchContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Input 창 컨테이너 스타일 */
.searchInputContainer {
  display: flex;
  width: 30em;
  height: 1.2em;
  align-items: center;
  border: 0.2em solid #CC0000;
  border-radius: 10dvw;
  padding: 0.4em;
  margin: 0;
  justify-content: space-between;
  position: relative;
}

/* Input 창 스타일 */
.searchInput {
  width: 100%;
  height: 100%;
  border-radius: 10dvw;
  font-size: 1em;
  border: none;
  margin: 0;
  padding: 0.3em;
  padding-left: 0.5em;
}

.result{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1em;
  position: absolute;
  top: 110%;
  width: 90%;
  left: 0;
  right: 0;
  z-index: 999;
}
.resultInner{
  padding: 1em;
}
.selected{
  background-color: lightgray;
  padding: 1em;
}