/* 메인 컨테이너 */
.container{
  margin-top: 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1em;
}

/* 큰 박스 틀 */
.deliveryList{
  width: 50em;
  border: 1px solid var(--background-color-active);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 2em;
  text-align: left;
  border-radius: 1em;
  font-weight: 350;
}

/* 주문 날짜 및 상세보기 */
.orderDate{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1em;
}
.orderDetail{
  display: flex;
  gap: 0.5em;
  cursor: pointer;
}

.deliveryStyle{
  display: flex;
  flex-direction: row;
}

/* 아이템 주문 상태 및 내역 창 */
.deliveryNow{
  margin-top: 0.5em;
  width: 80%;
  border: 1px solid lightgray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.6em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 1em;
}


.deliveryNowItem{
  display: flex;
  flex-direction: row;
  align-items: self-start;
  padding: 1em;
  gap: 2em;
}

.deliveryNowMenu{
  display: flex;
  justify-content: space-between;
}

.img{
  width: 8em;
  height: 8em;
  
}

/* 아이템들 이름 수량 등 정보*/
.deliveryNowInformation{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* 배송조회 등 버튼 아이템 */
.deliveryMenu{
  margin-top: 0.5em;
  width: 20%;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
  border-left: none;
  border-radius: 0.6em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 1em;
  gap: 1em;
  justify-content: center;
  flex-wrap: nowrap;
  white-space: nowrap;
}


/* 버튼 CSS */

.buttonContainer{
  font-size: 1.2em;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;
}

.pageButton{
  border: 1px solid lightgray;
  background-color: white;
  padding: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.button{
  color: black;
  padding: 0.6em;
  background-color: white;
  border: 1px solid gray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 2em;
}

/* 스켈레톤 부분 */
.skeleton{
  display: flex;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  border-radius: 10dvw;
}
.colskeleton{
  padding: 1em;
  height: 10em;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  gap: 1em;
  cursor: pointer;
}
.frameskeleton{
  background-color: lightgray;
  width: 10em;
  height: 5em;
  overflow: hidden;
}
.nameskeleton{
  width: 100%;
  height: 2em;
  background-color: lightgray;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 0.8dvw;
}
.priceskeleton{
  height: 1em;
  background-color: lightgray;
  text-align: end;
  border-radius: 0.8dvw;
}