.component{
  height: 297mm;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3em;
  gap: 3em;
}

.producer{
  height: 50%;
  border: 3px solid #CC0000;
}

.supplier{
  height: 50%;
  border: 2px solid blue;
}

.titleBox{

}

.tableBox{
  
}