pre{
  margin: 0;
  color: #CC0000;
  font-size: large;
}

.component{
  height: 297mm;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5em;
  gap:1.5em;
}

.producer{
  height: 50%;
  border: 3px solid #CC0000;
}

.supplier{
  height: 50%;
  border: 2px solid blue;
}

.titleBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.lowTitle{
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.h1{
  color: #CC0000;
  font-size: 36px;
  font-weight: 850;
  border-bottom: 3px double #CC0000;
}

.tableBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.sumBox{
  width: 99%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  font-size: 20px;
  color: #CC0000;
  border: 1px solid #CC0000;
  background-color: #ffc2c2;
  border-left: none;
  border-right: none;
}

table{
  box-shadow: none;
}

tr{
  box-shadow: none;
  background: none;
  border: 1px solid #CC0000;
  color: #CC0000;
}

th{
  box-shadow: none;
  background: none;
  border: 1px solid #CC0000;
  color: #CC0000;
}

td{
  box-shadow: none;
  background: none;
  border: 1px solid #CC0000;
  color: #CC0000;
}

.blue{
  box-shadow: none;
  background: none;
  border: 1px solid blue;
  color: blue;
}