.container{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.box{
  border-top: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 1em;
}

.box:first-child{
  border-top: 2px solid gray;
}

.box:last-child{
  border-bottom: 2px solid gray;
}

.label{
  font-size: 1.1em;
  width: 28%;
  font-weight: 550;
}

.input{
  width: 72%;
}

.inputSize{
  border: none;
  border-radius: 1em;
  background-color: rgb(230, 225, 225);
  height: 1.2em;
  padding: 1em;
}

.inputSize:focus{
  background-color: white;
  border: 0.1em solid gray;
}

.button{
  font-size: 1.2em;
  border: none;
  border-radius: 10em;
  background-color: #ff3333;
  color: white;
  font-weight: 550;
  cursor : pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1em;
  padding: 1em;
}