.container{
  display: flex;
  flex-direction: column;
  gap : 1.5em;
}
.headTag{
  text-align: left;
  border-bottom: 2px solid var(--background-color-clicked);
  padding: 0.5em;
  margin-bottom: 0.5em;
  align-items: center;
}

.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10%;
  border-top : 1px solid gray;
  border-bottom : 1px solid gray;
  border-radius: 2dvb;
  padding: 1em;
  align-items: center;
}

.formInner{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  border-bottom: 1px solid lightgrey;
  padding: 0.8em;
  align-items: center;
}
.formInner:last-child{
  border-bottom: none;
}

.label{
  width: 20%;
  font-weight: 550;
  font-size: 1.1em;
}

.input{
  width: 80%;
  display: flex;
  white-space: nowrap;
  flex-wrap: wrap;
  gap: 0.7em;
  align-items: center;
}

.inputSize{
  border: none;
  border-radius: 1em;
  background-color: rgb(230, 225, 225);
  height: 1.2em;
  padding: 1em;
}

.inputSize:focus{
  background-color: white;
  border: 0.1em solid gray;
}

.searchAddress{
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.searchResult{
  width: 40%;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  flex-wrap: nowrap;
  gap: 0.7em;
}

.button{
  font-size: 0.8em;
  border: none;
  border-radius: 10em;
  background-color: lightgray;
  color: black;
  font-weight: 550;
  cursor : pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.submitButton{
  font-size: 1.2em;
  border: none;
  border-radius: 10em;
  background-color: #ff3333;
  color: white;
  font-weight: 550;
  cursor : pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1em;
  padding: 1em;
}