.body{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  overflow-x: hidden;
  align-items: center;
  padding-top: 3em;
  overflow: hidden;
}

.table{
  width: 80%;
  border-top: 3px solid var(--background-color-set);
  border-bottom: 1px solid lightgray;
}

.thumnail{
  background-size: cover;
  box-sizing: border-box;
  background-color: beige;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border: 1px solid lightgray;
  object-fit: cover;
}

.name{
  width: 50%;
}
.button{
  font-size: 1.2em;
  border: none;
  border-radius: 10em;
  background-color: #ff3333;
  color: white;
  font-weight: 550;
  cursor : pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1em;
  padding: 1em;
}
.deletebutton{
  font-size: 1.2em;
  border: none;
  border-radius: 10em;
  background-color: lightgray;
  color: black;
  font-weight: 550;
  cursor : pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1em;
  padding: 1em;
}

.countTd{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.input{
  border: 2px solid lightgray;
  border-radius: 0.5em;
  width: 5em;
  height: 2.7em;
}

.editButton{
  display: flex;
  border: none;
  width: 1.1em;
  border-radius: 0.2em;
  background-color: var(--background-color-set);
  color: white;
  font-weight: 550;
  font-size: 2em;
  cursor : pointer;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0.1em;
}


.link{
  cursor: pointer;
  font-weight: 650;
  margin: 1em;
}

.link:hover{
  color: gray;
}

.iconlocation{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: lightgray;
}

.stepBlock{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.stepBar{
  width: 80%;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
}
.step{
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  border-radius: 1dvb;
  color: lightgray;
  display: flex;
  font-weight: 650;
  flex-direction: column;
  padding: 2em;
  padding-bottom: 4em;
  margin: 1em;
  white-space: nowrap;
}

.stepOn{
  border-top: 2px solid #b63d3d;
  border-bottom: 2px solid #b63d3d;
  border-radius: 1dvb;
  color: #000;
  font-weight: 650;
  padding: 2em;
  padding-bottom: 4em;
  margin: 1em;
  white-space: nowrap;
}

.price{
  font-weight: 800;
}

.finalCalculate{
  width: 80%;
  border-bottom: 1px solid lightgray;
  padding-bottom: 2em;
}

.finalContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3%;
}

.finalBox{
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  align-items: center;
  gap: 1em;
  padding: 1em;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.buttonContainer{
  font-size: 1.2em;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;
}


.moveButton{
  border: 1px solid lightgray;
  background-color: white;
  padding: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}