/* Footer.css */

.footer_container {
    height: 200px;
    background-color: rgba(144, 144, 144, 0.2);
    padding: 40px 20px;
    color: #333;
  }
  
  .footer_content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .footer_section {
    flex: 1;
    padding: 20px;
  }
  
  .footer_section h2 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
    border-bottom: 1px solid rgb(169, 169, 169);
    padding-bottom: 10px;
  }
  
  .footer_section ul {
    list-style:none;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .footer_section ul li {
    margin-bottom: 8px;
  }
  
  .footer_bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #666;
  }
  