.flex_container {
    display: flex;
}

.main_container {
    flex: 1;
    padding: 1em;
}

.header {
    background-color: var(--main-color-heavy);
    color: white;
    border-radius: 1dvh;
    padding: 1em;
    text-align: center;
}

.main {
    padding: 1em;
}

.totalAccount {
    color: orangered;
}

.filter_buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 1em;
}

.filter_buttons button {
    background-color: #cc5e35;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.7em 1.5em;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.filter_buttons button:hover {
    background-color: #ae4f2c;
}

.active {
    background-color: #cc0000;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.btn_container {
    margin-top: 20px;
}

.btn {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.7em 1.5em;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ae4f2c;
}
