.main{
  display: flex;
  flex-direction: column;
  width: 93%;
  border: 1px solid lightgray;
  align-items: center;
  justify-content: flex-start;
  margin: 1em;
  padding: 1em;
  gap: 1em;
}
.container{
  width: 90%;
  display: flex;
  padding-bottom: 1em;
  border-bottom: 1px solid lightgray;
}
.container:last-child{
  width: 70%;
  display: flex;
  padding-bottom: none;
  border-bottom: none;
}
.label{
  width: 30%;
  display: flex;
  align-items: center;
}
.content{
  display: flex;
  width: 90%;
}
.searchFilterList{
  display: flex;
  
}

.button{
  border: 1px solid lightgray;
  background-color: white;
  padding: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  cursor: pointer;
}

.input,
.select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.input:hover,
.select:hover,
.input:focus,
.select:focus {
    border-color: rgb(174, 79, 44);
}