.body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  width: 80%;
  margin: 2em;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  border-bottom: 3px solid #cc0000;
}

.contentsFilter{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.searchContainer{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: flex-start;
  gap: 0.5em;
  padding-bottom: 2em;
  margin-bottom: 1em;
  border-bottom: 1px solid lightgray;
}

.searchFilter{
  display: flex;
  flex-direction: row;
  width: 5em;
  border: 1px solid lightgray;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  padding: 0.5em;
  cursor: pointer;
  position: relative;
}

.searchInputBox{
  width: auto;
  position: relative;
}

.searchInput{
  border: 1px solid   lightgray;
  font-size: 1.1em;
  padding: 0.5em;
}
.searchButton{
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  white-space: nowrap;
  background-color: white;
  border: 1px solid   lightgray;
}

.filterUI{
  display: block;
  position: absolute;
  top: 105%;
  left: 0;
}

.filter{
  width: 80%;
  padding: 1em;
  justify-content: space-between;
  box-shadow: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  gap: 0.5em;
}

.filterInner{
  background-color: white;
  width: 100%;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  color: black;
}

.result{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1em;
  position: absolute;
  top: 110%;
  width: 90%;
  left: 0;
  right: 0;
  z-index: 999;
  position: absolute;
}

.resultInner{
  padding: 1em;
}
.selected{
  background-color: lightgray;
  padding: 1em;
}