.body {
  display: flex;
}
.main {
  margin: 16px;
  display: flex;
  flex-direction: column;
}
.sidebar {
  width: fit-content;
}
/* ----------------------------------------- */
.flex_container {
  display: flex;
  gap: 10px;
}
.left {
  background-color: var(--main-color-middle);
  border-radius: 1dvh;
  width: 25vw;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.writeNotice_icon {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.write {
  background-color: var(--main-color-original);
  color: white;
  margin-top: 1em;
  border: none;
  border-radius: 1vh;
  padding: 0.7em 1.5em;
  font-size: 1.1em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1dvh;
  cursor: pointer;
}

.write:hover {
  background-color: var(--main-color-original-hover);
}
/* ----------------------------------------- */
.right {
  background-color: var(--main-color-light);
  border-radius: 1vh;
  width: 62.1vw;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.none_title {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  color: black;
}
.none_contents {
  background-color: var(--main-color-original);
  color: white;
  margin-top: 1em;
  width: 300px;
  height: 50px;
  font-size: 1.3em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1dvh;

}
/* ----------------------------------------- */
/* 글 목록 */
.post_container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
/* Post */
.post_title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color-heavy);
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
  border-radius: 1vh;
  height: 50px;
}
/* List */
.post_list_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 2px solid gray;
  margin: var(--list-margin);
  padding: var(--list-padding);
}

/* No */
.post_list_info_no {
  width: 2vw;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* Title */
.post_list_info_title {
  width: 50vw;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
} .post_list_info_title:hover {
  color: orangered;
}
/* Writer */
.post_list_info_writer {
  width: 10vw;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
}
.post_list_info_date {
  width: 10vw;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* Del */
.post_del_container {
  display: flex;
  cursor: pointer;
  overflow: hidden;
}
.post_del_button {
  display: flex;
  height: 40px;
  width: 4vw;
  border-radius: 1vh;
  background-color: #CC0000;
  color: white;
  align-items: center;
  justify-content: center;
}
.post_del_button:hover {
  background-color: var(--main-red-hover);
}
/* ----------------------------------------- */
/* 스켈레톤 컨테이너 스타일 */
.skeletonContainer {
  display: flex;
  flex-direction: column; /* 수직으로 나열 */
}

/* 스켈레톤 아이템 스타일 */
.skeletonItem {
  border-radius: 1dvh;
  margin-bottom: 1em;
  height: 45px;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%); /* 스켈레톤 효과 설정 */
  background-size: 200% 100%; /* 배경 크기 설정 */
  animation: loading 2s infinite; /* 로딩 애니메이션 적용 */
}

/* 스켈레톤 로딩 애니메이션 */
@keyframes loading {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
