.body {
  display: flex;
}
.mainContents {
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* ----------------------------------------- */
.evnetHandleContainer {
  display: flex;
}
.leftModule {
  background-color: rgb(43, 43, 43);
  margin: 10px;
  border-radius: 1dvh;
  width: 20%;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.writeNotice_icon {
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}
.write {
  background-color: #CC0000;
  color: white;
  margin-top: 1em;
  width: 100px;
  height: 50px;
  font-size: 1.1em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1dvh;
  cursor: pointer;
}
/* ----------------------------------------- */
.rightModule {
  background-color: rgb(217, 205, 205);
  margin: 10px;
  margin-left: 0;
  border-radius: 1dvh;
  width: 80%;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.none_title {
  width: 100%;
  font-size: 2em;
  font-weight: bold;
  color: black;
}
.none_contents {
  background-color: #CC0000;
  color: white;
  margin-top: 1em;
  width: 300px;
  height: 50px;
  font-size: 1.3em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1dvh;

}
/* ----------------------------------------- */
/* 글 목록 */
.noticeList_block {
  /* 나눠진 비율로 너비 설정 */
  display: flex;
  flex-direction: column;
}
/* Post */
.noticeList_post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(43, 43, 43);
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px;
  margin-bottom: 0;
  border-radius: 1dvh;
  height: 50px;
}
/* List */
.noticeList_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* 100% 너비 */
  height: 30px;
  font-size: 1em;
  font-weight: bold;
  border-bottom: 2px solid gray;
  margin: 10px;
  margin-bottom: 0;
}
/* No */
.noticeList_no {
  width: 20%; /* 1:5 비율 */
}
/* Title */
.noticeList_title {
  width: 50%; /* 5:5 비율 */
}
/* Writer */
.noticeList_writer {
  width: 20%; /* 2:5 비율 */
}
/* Del */
.noticeList_del {
  width: 20%; /* 2:5 비율 */
  display: flex;
  cursor: pointer;
  border-radius: 1dvh;
  background-color: #CC0000;
  color: white;
  height: 30px;
  align-items: center;
  justify-content: center;
}
/* ----------------------------------------- */
.noticeList_no {
  width: 10%;  
}
.noticeList_title {
  width: 60%;
}
.noticeList_wirter {
  width: 20%;
}
.noticeList_del {
  width: 10%;
}
.noticeList_delBox {
  display: flex;
  cursor: pointer;
  border-radius: 1dvh;
  background-color: #CC0000;
  color: white;
  width: 70%;
  height: 30px;
  align-items: center;
  justify-content: center;
}