.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1em;
  gap: 1em;
  flex: 1;
}
/* ----------------------------------------- */
.flex_container {
  display: flex;
  gap: 10px;
}
.left {
  background-color: var(--main-color-heavy);
  border-radius: 1dvh;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 3em;
  gap: 10px;
}
.writeNotice_icon {
  font-size: 24px;
  font-weight: bold;
  color: white;
}
/* ----------------------------------------- */
.right {
  box-shadow: var(--shadow);
  border-radius: 1dvh;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  flex: 5;
  align-items: center;
  justify-content: center;
  padding: 3em;
  gap: 10px;
}
.none_title {
  font-size: 24px;
  font-weight: bold;
  color: black;
}
.none_contents {
  font-size: 16px;
}
/* ----------------------------------------- */
.post_del_button {
  border: 1px solid lightgray;
  background-color: var(--main-red);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}
.post_del_button:hover {
  background-color: var(--main-red-hover);
}


/* ----------------------------------------- */
/* 스켈레톤 컨테이너 스타일 */
.skeletonContainer {
  display: flex;
  flex-direction: column; /* 수직으로 나열 */
}

/* 스켈레톤 아이템 스타일 */
.skeletonItem {
  border-radius: 1dvh;
  margin-bottom: 1em;
  height: 45px;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%); /* 스켈레톤 효과 설정 */
  background-size: 200% 100%; /* 배경 크기 설정 */
  animation: loading 2s infinite; /* 로딩 애니메이션 적용 */
}

/* 스켈레톤 로딩 애니메이션 */
@keyframes loading {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
