.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 100%;
  max-width: 40em;
  height: 40em;
  max-height: 90%;
  /* 모달 내용이 화면을 넘지 않도록 최대 높이 설정 */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  overflow-y: auto;
  /* 스크롤 가능한 영역 설정 */
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5em;
  color: #888;
}

.closeButton:hover {
  color: #cc0000;
}

.contentsContainer {
  display: flex;
  flex-direction: column;
  
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5em;
}

.inputTitle {
  width: 20em;
  font-size: 1.2rem;
  padding: 0.1em;
}

.writer {
  text-align: center;
  font-size: 14px;
  color: #888;
}

.inputWriter {
  width: 6rem;
  padding-left: 0.3rem;
  color: #888;
  border: none;
}

.contents {
  font-size: 16px;
  margin-top: 20px;
}

.textarea {
  padding: 10px;
  height: 30em;
}

.printPost {
  display: flex;
  background-color: #cc0000;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1.5em;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  /* 수정된 부분 */
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.printPost:hover {
  background-color: #fc4040;
  cursor: pointer;
}