/* NoticeDetail.module.css */

.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 100%;
  max-width: 1400px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 80vh;
  max-height: 80vh;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #888;
}

.closeButton:hover {
  color: #cc0000;
}

.title {
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
}

.details {
  display: flex;
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  color: #888;
  justify-content: space-between;
}

.date, .writer {
  margin: 5px;
}

.contentsBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid darkgray;
  width: 95%;
  height: 100%;
  padding: 1em;
  font-size: 16px;
  text-align: left;
  line-height: 1.6; /* 텍스트 줄 간격 설정 */
}

/* 상품 정보 */
.productInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 1em;
  border-bottom: 1px solid lightgray;
}

.container {
  width: 50%;
  display: flex;  
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

.label {
  flex: 1; /* 레이블의 크기를 자동으로 조절 */
  max-width: 30%; /* 최대 너비를 설정하여 너무 확장되지 않도록 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  flex: 2; /* 내용의 크기를 자동으로 조절 */
  max-width: 70%; /* 최대 너비를 설정하여 너무 확장되지 않도록 */
  display: flex;
  justify-content: center;
}


/* 추가된 스타일 */
.inputStyle{
  border: 1px solid lightgray;
  background-color: white;
  padding: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}
.buttonContainer{
  width: 100%;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.button{
  border: none;
  border-radius: 10em;
  background-color: orangered;
  color: white;
  font-weight: 550;
  cursor : pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

/* 모바일 화면에서 제목을 중앙 정렬 */
@media screen and (max-width: 600px) {
  .title {
    text-align: center;
  }
}