/* --------Body-------- */
.body {
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    gap: 1em;
}  

/* --------Selected Handler */
.selectedHandler {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
}

/* --------PageMoveHandler-------- */
.pageMoveHandler {
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.currnetPage {
    display: flex;
    padding: 10px;
}

.moveButton {
    border: 1px solid lightgray;
    background-color: white;
    padding: 0.5em 1em 0.5em 1em;
    cursor: pointer;
}

.moveButton:hover {
    background-color: var(--main-color-light);
    transition: background-color 0.3s;
}
