/* --------------모달-------------- */
/* Base */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* 모달을 위로 떠오르게 설정 */
}

.modalContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  border: 1.5px solid #808080;
  border-radius: 1dvb;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 35em;
  height: 23em;
}
/* ------------------------------- */
.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5em;
  justify-content: center;
  align-items: center;
}

.noticeContainer {
  width: 70em;
  margin: 1em;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 24px;
  margin: 0;
  color: #000; /* 글자 색상을 검은색으로 변경 */
}

.search_label {
  margin-right: 10px;
  font-weight: bold;
  color: #000; /* 글자 색상을 검은색으로 변경 */
}

.searchContainer {
  display: flex;
  align-items: center;
}

.search_input [type="text"] {
  padding: 5px;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
}

.listTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

th {
  background-color: #f0f0f0;
  color: #000;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

tr {
  border-bottom: 1px solid #ccc;
}

td {
  padding: 10px;
  height: 40px;
}

.row:nth-child(even) {
  background-color: #f0f0f0;
}
