.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  overflow-y: auto; /* 스크롤 가능한 영역 설정 */
  max-height: 80vh; /* 모달 내용이 화면을 넘지 않도록 최대 높이 설정 */
}


.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #888;
}
.closeButton:hover {
  color: #cc0000;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.details {
  text-align: center;
  font-size: 14px;
  color: #888;
}

.date, .writer {
  margin: 5px;
}

.contents {
  font-size: 16px;
  margin-top: 20px;
}
