/* NoticeDetail.module.css */

.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 80%;
  max-width: 1000px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  text-overflow: ellipsis;
  height: 70vh;
  max-height: 80vh;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #888;
}

.closeButton:hover {
  color: #cc0000;
}

.title {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  text-overflow: ellipsis;
}

.details {
  text-align: center;
  font-size: 14px;
  color: #888;
}

.date,
.writer {
  margin: 5px;
}

.contentsBox {
  display: flex;
  width: 100%;
  justify-content: center;
}

.contents {
  border: 2px solid darkgray;
  border-radius: 1dvh;
  width: 95%;
  height: 58vh;
  padding: 1em;
  font-size: 16px;
  text-align: left;
  line-height: 1.6;
  /* 텍스트 줄 간격 설정 */
}

/* 추가된 스타일 */
.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

/* 모바일 화면에서 제목을 중앙 정렬 */
@media screen and (max-width: 600px) {
  .title {
    text-align: center;
  }
}