.body {
  display: flex;
}

.mainContents {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bodyInnerTile {
  width: 25em;
  height: 20em;
  border: 1px solid lightgray;
}

.print_new {
  display: flex;
}

.printCode_block {
  background-color: var(--main-color-middle);
  margin: 10px;
  border-radius: 1vh;
  width: 300px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.printCode_title {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.printCode_button {
  background-color: var(--main-color-original);
  color: white;
  margin-top: 1em;
  border: none;
  border-radius: 1vh;
  padding: 0.7em 1.5em;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.printCode_button:hover {
  background-color: var(--main-color-original-hover);
}

.none_block {
  background-color: var(--main-color-light);
  margin: 10px;
  margin-left: 0;
  border-radius: 1vh;
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.none_title {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
}

.none_code {
  background-color: var(--main-color-original);
  color: white;
  margin-top: 1em;
  border-radius: 1vh;
  padding: 0.7em 1.5em;
  width: 300px;
  font-size: 1.3em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

}

.printedCodeList_block {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.printedCodeList_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color-heavy);
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 10px 0 10px;
  border-radius: 1vh;
  height: 50px;
}

.printedCodeList_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 1em;
  font-weight: bold;
  margin: var(--list-margin);
  padding: var(--list-padding);
  border-bottom: 2px solid gray;

}

.printedCodeList_no {}

.printedCodeList_code:hover {
  color: var(--text-hover-color);
}

.printedCodeList_del {
  display: flex;
  cursor: pointer;
  border-radius: 1vh;
  background-color: var(--main-red);
  color: white;
  height: 40px;
  width: 4vw;
  align-items: center;
  justify-content: center;
}
.printedCodeList_del:hover {
  background-color: var(--main-red-hover);
}