/* 헤드라인 및 바디 기본설정 */
.main{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.container{ 
  flex-grow: 1; /* 남은 공간 모두 차지 */
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
  justify-content: center;
  align-items: center;
}

.bodyHeader{
  width: 100%;
  text-align: left;
  padding: 5px;
  border-bottom: 3px solid var(--background-color-set);
}

/* 관련상품 탭 */
.table{
  width: 100%;
  border-top: 3px solid var(--background-color-set);
  border-bottom: 1px solid lightgray;
  text-align: center;
  align-items: center;
}

.tableLocation{
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 2em;
  border: 1px solid lightgray;
}

.listContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 1em;
}

.manageBox{
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.topTitle{
  width: 80%;
  margin: 2em;
  padding-bottom: 1%;
  margin-left: 10%;
  margin-right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #cc0000;
}

.colTable{
  width: 100%;
  text-align: center;
}

.buttonContainer{
  font-size: 1.2em;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;
}

.question{
  font-weight: 550;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15em;
}

.formInner{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
}

.editButton{
  border: none;
  border-radius: 3em;
  background-color: #ff3333;
  color: white;
  font-weight: 550;
  cursor : pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.5em;
  padding: 0.5em;
}

.selectSize{
  width: 100%;
  text-align: center;
}

.qnATop{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}

.buttonBox{
  width: 80%;
  display: flex;
  margin-left: 10%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
}

.button{
  border: 1px solid lightgray;
  background-color: white;
  padding: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.detailView{
  cursor: pointer;
}

.detailView:hover{
  color: gray;
}

.thumnail{
  background-size: cover;
  box-sizing: border-box;
  background-color: beige;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border: 1px solid lightgray;
  object-fit: cover;
}
