.CategoryBar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.Category {
  flex: 1;
  text-align: center;
  padding: 1em;
  background-color: #CC0000;
  color: white;
  font-size: large;
}