.body{
  margin-top: 1em;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.table{
  justify-content: center;
  align-items: center;
  width: 80%;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.name{
  width: 50%;
}
.button{
  border: none;
  border-radius: 10em;
  background-color: #ff3333;
  color: white;
  font-weight: 550;
  cursor : pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
}
.deletebutton{
  border: none;
  border-radius: 10em;
  background-color: lightgray;
  color: black;
  font-weight: 550;
  cursor : pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
}