.loginPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    cursor : pointer;
}
.container{
    display: flex;
    flex-direction: column;
}

.loginContainer {
    display: flex;
    flex-direction: row;
}
.inputContainer{
    display: flex;
    flex-direction: column;
}

.goLogin {
    border: solid none;
    background-color: paleturquoise;
    cursor : pointer;
}

.inputId{
    padding: 0.5em;
}

.inputPW{
    padding: 0.5em;

}

.autoLogin {
    color: grey;
    font-size: 0.5em;   
    text-align: left; 
    align-items: center;
    justify-content: center;
}

.find_join{
    display: flex;
    margin: 0.3em;
    font-size: 0.5em;
    justify-content: center;
    color:gray;
    gap: 1em;
    align-items: center;
}

.findId{
    cursor : pointer;
}

.findPW{
    cursor : pointer;
}

.join{
    cursor : pointer;
}

.findDiv{
    display: flex;
    gap: 0.5em;
}