.container{
  margin-top: 1em;
}
.row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

.col{
  padding: 1em;
  height: 24em;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  gap: 1em;
  cursor: pointer;
}
.frame{
  width: 20em;
  height: 20em;
  overflow: hidden;
}
.thumnail{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product{
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.price{
  text-align: end;
  font-weight: 550;
}
.colskeleton{
  padding: 1em;
  height: 24em;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  gap: 1em;
  cursor: pointer;
}
.frameskeleton{
  background-color: lightgray;
  width: 20em;
  height: 15em;
  overflow: hidden;
}
.nameskeleton{
  width: 100%;
  height: 2em;
  background-color: lightgray;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 0.8dvw;
}
.priceskeleton{
  height: 3em;
  background-color: lightgray;
  text-align: end;
  border-radius: 0.8dvw;
}