/* 검색Bar Container */
.searchContainer {
  display: flex;
  align-items: center;
  width: 400px;
}

/* Input 창 컨테이너 스타일 */
.searchInputContainer {
  flex: 8;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Input 창 스타일 */
.searchInput {
  width: 100%;
  height: 100%;
  border-radius: 10dvw;
  font-size: 1.5em;
  border: 0.1em solid #CC0000;
  margin-right: 0.3em;
  padding: 0.1em;
}
  
/* 검색 링크 컨테이너 스타일 */
<<<<<<< HEAD
.searchLinkContainer {
  flex: 1; 
=======
.search-link-container {
  flex: 1;
  width: 20em;
>>>>>>> 77d1456894daff12628971584b224178aa0e5977
  height: 2em; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #CC0000;
  border: 2px solid #CC0000;
}

/* 검색 링크 스타일 */
.searchLink {
  display: block;
  text-align: center;
  color: white;
  font-size: large;
}

i.fas.fa-search {
  font-size: 18px;
  color: #555;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
}
