/* 기본 셋팅 */
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

.App{
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'NanumSquare';
}
body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'NanumSquare';
}
h1, h2, h3{
  font-size: var(--font-size-md);
  font-weight: bolder;
  margin: 0;
}
h4, h5, h6, dt, dd{
  font-size: var(--font-size-sm);
  font-weight: normal;
  margin: 0;
}

main{
  margin: 0;
}

p {
  margin-top: 2em;
  font-size: var(--font-size-ssm);
}

strong, em {
  font-weight: inherit;
  font-style: normal;
}

ul, ol {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

hr {
  margin: 0;
  padding: 0;
  width: 100%;
}

button{
  cursor: pointer;
}
input:focus {
  outline: none;
}

thead{
  width: 100%;
  height: 3em;
  background-color: #b63d3d;
  color: white;
}

td{
  height: 5em;
  border-bottom: 1px solid lightgray;
}
/* ==== 반복 함수 생성 ==== */
:root {
  --body-margin : 0.5em;
  --font-size-md: clamp(1.5rem, 1.5vw, 2.5rem);
  --font-size-sm: clamp(1rem, 1.2vw, 2rem);
  --font-size-ssm: clamp(0.5em, 1vw, 1.5em);
  --background-color-set: #CC0000;
  --background-color-active : rgb(180, 8, 8);
  --background-color-clicked: rgb(165, 10, 10);
}

/* 탭 아이템 스타일 */
.tab-item {
  width: 30%;
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--background-color-set);
  border-right: 1px solid #ccc;
  color: #ddd;
  text-align: center;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}

.tab-item:last-child {
  border-right: none;
}

/* 활성화된 탭 아이템 스타일 */
.tab-item.active {
  color: #ddd;
  background-color: var(--background-color-clicked);
}

/* 상단 메뉴 바 */
.menu-item {
  padding: 1em;
  position: relative;
  cursor: pointer;
}
.menu-item::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  background-color: var(--background-color-set);
  transition: all 350ms;
}
.menu-item:hover::after {
  left: 0;
  width: 100%;
  height: 3px;
}

.menu-item .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: -2.8em;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 12em;
  z-index: 999;
}

.menu-item.open .sub-menu {
  display: block;
  opacity: 1;
  transform: ease 0.3s;
}
/* ==== 검색 아이콘 ==== */
i.fas.fa-search {
  background-color: white;
  font-size: 20px;
  color: var(--background-color-set);
  margin-right: 5px;
  padding: 5px;
  cursor: pointer;
}
/* 플러스 아이콘 */
i.fas.fa-angle-right{
  background-color: white;
  font-size: 1.5em;
  color: black;
  padding: 5px;
  cursor: pointer;
  margin-right: 1em;
}
/* 빈 하트 아이콘 */
i.fa-regular.fa-heart{
  color: var(--background-color-set);
}

/* 가득 찬 하트 아이콘 */
i.fa-solid.fa-heart{
  color: var(--background-color-set);
}


/* 카테고리 메뉴 바 */

.categorymenu-item {
  padding: 0.8em;
  position: relative;
  cursor: pointer;
}

.categorymenu-item::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  background-color: white;
  transition: all 350ms;
}
.categorymenu-item:hover::after {
  left: 0;
  width: 100%;
  height: 3px;
}

.categorymenu-item .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: -2.5em;
  background-color: var(--background-color-set);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 12em;
  z-index: 999;
}

.categorymenu-item.open .sub-menu {
  display: block;
}

.categorytab-item {
  padding: 1em;
  cursor: pointer;
  color: #ddd;
  text-align: center;
  white-space: nowrap;
}

/* 활성화된 탭 아이템 스타일 */
.categorytab-item.active {
  color: #ddd;
  background-color: var(--background-color-clicked);
}

/* 체크박스 크기 조정(노인공경) */
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  cursor: pointer;
}