/* 기본 셋팅 */
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

.App{
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'NanumSquare';
}
body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'NanumSquare';
}
h1, h2, h3{
  font-size: var(--font-size-md);
  font-weight: bolder;
  margin: 0;
}
h4, h5, h6, dt, dd{
  font-size: var(--font-size-sm);
  font-weight: normal;
  margin: 0;
}

main{
  margin: 0;
}

p {
  margin-top: 2em;
  font-size: var(--font-size-ssm);
}

strong, em {
  font-weight: inherit;
  font-style: normal;
}

ul, ol {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  margin: 0;
  padding: 0;
  width: 100%;
}


/* ==== 반복 함수 생성 ==== */
:root {
  --body-margin : 0.5em;
  --font-size-md: clamp(1.5rem, 1.5vw, 2.5rem);
  --font-size-sm: clamp(1rem, 1.2vw, 2rem);
  --font-size-ssm: clamp(0.5em, 1vw, 1.5em);
  --background-color-set: rgb(224, 36, 36);
  --background-color-active : rgb(154, 58, 58);
  --background-color-clicked: rgb(162, 54, 54);
}

/* 탭 아이템 스타일 */
.tab-item {
  width: 30%;
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--background-color-set);
  border-right: 1px solid #ccc;
  color: #ddd;
  text-align: center;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}

.tab-item:last-child {
  border-right: none;
}

/* 활성화된 탭 아이템 스타일 */
.tab-item.active {
  color: #ddd;
  background-color: var(--background-color-clicked);
}
