/*----------- 본문 시작 ---------- */
.left {
}

.location {
    display: flex;
    flex-direction: row;
}

/* ---- 본문 내부 틀 ---- */
.center {
    float: left;
    flex: 1;
    margin: 10px;
}

.product_container {
    clear: both;
}

.right {
    float: right;
    margin: 10px;
    width: 20vw;
}


@media screen and (max-width: 1152px) {
    .right {
        display: none;
    }

    .center {
        margin-left: 0;
    }
}