.body {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.flexBox {
    display: flex;
}

/* ---- 큰 틀 ---- */
.left {
    
}

.center {
    float: left;
    flex: 1;
    margin: 10px;
}

.product_container{
    clear: both;
}

.right {
    float: right;
    margin: 10px;
    margin-left: 0px;
    width: 20vw;
}



@media screen and (max-width: 1500px) and (min-width: 769px) {
    .right {
        display: none;
    }
}