/* WelcomeModule.module.css */

.wrapper {
    display: flex;
    justify-content: center;
}

.container {
    background-color: #f9f6f6;
    width: 100%;
    padding: 5px 10px;
    border-bottom: 3px solid #CC0000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
    font-weight: 900;
}

.corName_container {
    
}

.welcomeMessage {
    
}

.itemContainer {
    display: flex;
    flex-direction: column;
}
.itemsTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
}
.goAdmin {
    font-size: 14px;
}
.goAdmin:hover {
    cursor: pointer;
    color: var(--main-color-original);
}
.items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 14px;
    padding: 14px;
    border: 3px solid var(--main-color-light);
    border-radius: 1vh;
}

.orderList {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px;
}

.title {
    color: rgb(82, 82, 82);
}

.content {
    border-radius: 2vh;
    font-weight: bold;
}
