/* WelcomeModule.module.css */

.wrapper {
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    padding: 5px 25px;
    border-bottom: 3px solid #CC0000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.corName {
    font-weight: 900;
}

.welcomeMessage {
    
}

.items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 14px;
}

.orderList {
    display: flex;
    align-items: center;
}

.title {
}

.content {
    border-radius: 2vh;
    padding: 10px;
}
