.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: var(--main-color-light);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    height: 10vh;
    min-height: 10vh;
    max-height: 10vh;
}

.header {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
.managerInfo {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}