.main{
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid lightgray;
  align-items: center;
  justify-content: center;
  margin: 1em;
  padding: 1em;
}
.container{
  display: flex;
  justify-content: space-evenly;
}