/* FindModal.module.css */

/* Base */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* 모달을 위로 떠오르게 설정 */
}

.modalContainer {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  color: black;
  border: 1.5px solid #808080;
  border-radius: 1dvb;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 35em;
  height: 23em;
}

/* ------------공통 className------------ */
.inputContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  /*셀 경계를 합치고 간격 조절*/
}

.exitButton {
  /*❌버튼 */
  padding-top: 0.3em;
  padding-right: 0.4em;
  color: rgb(51, 51, 51);
  font-weight: bold;
  font-size: 2em;

}

.modalContent {
  padding: 1em;
  padding-top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 0;
}

.exitButton {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.titleBox {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  padding: 1rem 1rem;
}

.title:hover {
  color: #CC0000;
  cursor: pointer;
}

.selected_title {
  position: relative;
  cursor: pointer;
}
.selected_title::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%; /* 밑줄의 초기 길이 조절 */
  height: 2.5px; /* 밑줄의 두께 조절 */
  background-color: red; /*밑줄 색상*/
  border-radius: 2dvb; /* 양쪽 부드러운 모서리를 위한 값 */
}

.label {
  width: 80px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 10px;
}

.input {
  width: 280px;
  height: 50px;
  font-size: 1.2rem;
  padding: 0.2rem;
  padding-left: 0.4rem;
  border: none;
  border-radius: 1dvb;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------find_id modal CSS------------ */
.select_api {
  display: flex;
  margin-top: 2em;
  font-size: 1.3em;
}

.passCheckbox:hover {
  color: #CC0000;
  cursor: pointer;
}


.smsCheckbox:hover {
  color: #CC0000;
  cursor: pointer;
}

.sms_layout {
  margin: 1em;
  display: flex;
  flex-direction: row;
  width: 35em;
  align-items: center;
  justify-content: center;
}

.smsContainer {
  height: 150px;
  width: 25em;
}

.reqNum {
  border: none;
  border-radius: 1dvw;
  background-color: #CC0000;
  color: white;
  height: 130px;
  width: 90px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.reqNum:hover {
  background-color: #fe4b4b;
}

.smsInput_Container {
  display: flex;
  flex-direction: column;
  width: 25em;
}

.nameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.phoneNumContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.goPassButton {
  border: 1px solid none;
  border-radius: 1dvb;
  background-color: #CC0000;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 1em;
  margin: 3em;
  width: 350px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.goPassButton:hover {
  background-color: #fe4b4b;
}


/* ------------find_pw modal CSS------------ */
.pw_layout {
  display: flex;
  margin-top: 2em;
  flex-direction: row;
  width: 32em;
  align-items: center;
  justify-content: center;
  align-items: center;

}

.goResetPassword {
  border: none;
  border-radius: 1dvw;
  background-color: #CC0000;
  color: white;
  height: 130px;
  width: 90px;
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} 
.goResetPassword:hover {
  background-color: #fe4b4b;
}



/* ------------하단 컨트롤박스------------ */
.controlContents {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}