.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.inputWrap {
    display: flex;
    flex-direction: column;
}

.noti {
    font-size: 20px;
    font-weight: bold;  
}

.set{
    margin: 0.5em;
    padding: 1em;
    border: 0.1em solid gainsboro;
    border-radius: 1dvb;
    width: 500px;
    height: 25px;
    font-size: 16px;
}

.errorMessage {
    color: #FF3333;
}

.logo {
    cursor : pointer;
    justify-content: left;
    align-items: center;
}

.checkAll {
    display: flex;
    margin-top: 2em;
    font-size: 20px;
    font-weight: bold;
}

.ul_policy{
    justify-content: center;
    align-items: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 5dvb;
    margin-top: 1em;
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.li_policy {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.eachContent {
    display: flex;
    justify-content: space-between;
}

.leftContent {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.rightContent {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.clause {
    cursor: pointer;
}

.policyDetail {
    margin-top: 1em;
    padding: 0.7em;
    border: 1.5px solid #404040;
    border-radius: 1dvb;
    width: 400px;
    max-height: 10vh;
    overflow-y:scroll; /* 스크롤 생성 */
    background-color:lightgray;
}

.policyDetail_null {
    width: 428px;
}

.moveContainer {
    display: flex;
    margin: 2em;
}

.back {
    cursor: pointer;
    margin-right: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    border-radius: 1.2dvh;
    width: max-content;
    font-size: 20px;
    font-weight: bold;
}

.sign_up {
    cursor: pointer;
    margin-right: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    border-left: 2px solid #FF3333;
    border-right: 2px solid #FF3333;
    border-radius: 1dvh;
    width: max-content;
    font-size: 20px;
    font-weight: bold;
}

.disabled {
color: darkgray;
border-left: 2px solid gray;
border-right: 2px solid gray;
cursor: not-allowed;
}