.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.loginPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    cursor : pointer;
}

.container{
    display: flex;
    flex-direction: column;
}

.loginContainer {
    display: flex;
    flex-direction: row;
    border: 0.1em solid p;
    border-radius: 2dvw;
    padding: 10px;
}

.inputContainer{
    display: flex;
    flex-direction: column;
}


.inputId{
    margin: 0.8em;
    padding: 1em;
    border: 0.1em solid gainsboro;
    border-radius: 1dvb;
    width: 30em;
    font-size: 1.5em;
}

.inputPW{
    margin: 0.8em;
    padding: 1em;
    border: 0.1em solid gainsboro;
    border-radius: 1dvb;
    width: 30em;
    font-size: 1.5em;
}

.goLogin {
    border: solid none;
    border-radius: 1dvb;
    background-color: #FF3333;
    color: white;
    cursor : pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
<<<<<<< HEAD:src/component/Login.module.css
    margin: 10px;
    padding: 0.8em;
    font-size: larger;
}

.inputId{
    margin: 0.8em;
    padding: 1.3em;
    border: 0.1em solid gainsboro;
    border-radius: 1dvb;
    width: 30em;
    font-size: 16px;
}

.inputPW{
    margin: 0.7em;
    padding: 1.3em;
    border: 0.1em solid gainsboro;
    border-radius: 1dvb;
    width: 30em;
    font-size: 16px;
=======
    width: 30em;
    margin: 0.8em;
    padding: 1em;
    font-size: 1.5em;
>>>>>>> 9b9acb3538cc3db2c899a993a7e4bc33390ebb0b:src/component/AboutLogin/Login.module.css
}

.autoLoginCheckBox {
    color: grey;
<<<<<<< HEAD:src/component/Login.module.css
    font-size: 1em;   
=======
    font-size: 1.5em;   
>>>>>>> 9b9acb3538cc3db2c899a993a7e4bc33390ebb0b:src/component/AboutLogin/Login.module.css
    text-align: left; 
    padding-left: 1em;
    display: flex;
    align-items: center;
}

.findId{
    cursor : pointer;
}

.findPW{
    cursor : pointer;
}

.join{
    cursor : pointer;
}

.findDiv{
    display: flex;
    margin: 0.3em;
<<<<<<< HEAD:src/component/Login.module.css
    font-size: 1em;
=======
    font-size: 1.5em;
>>>>>>> 9b9acb3538cc3db2c899a993a7e4bc33390ebb0b:src/component/AboutLogin/Login.module.css
    justify-content: center;
    color:gray;
    align-items: center;
    display: flex;
    gap: 1em;
}