.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.loginPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    cursor : pointer;
}

.container{
    display: flex;
    flex-direction: column;
}

.loginContainer {
    display: flex;
    flex-direction: row;
    border: 0.1em solid p;
    border-radius: 2dvw;
    padding: 10px;
}

.inputContainer{
    display: flex;
    flex-direction: column;
}


.inputId{
    margin: 0.8em;
    padding: 1em;
    border: 0.1em solid gainsboro;
    border-radius: 1dvb;
    width: 30em;
    font-size: 1.5em;
}

.inputPW{
    margin: 0.8em;
    padding: 1em;
    border: 0.1em solid gainsboro;
    border-radius: 1dvb;
    width: 30em;
    font-size: 1.5em;
}

.goLogin {
    border: solid none;
    border-radius: 1dvb;
    background-color: #FF3333;
    color: white;
    cursor : pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30em;
    margin: 0.8em;
    padding: 1em;
    font-size: 1.5em;
}

.autoLoginCheckBox {
    color: grey;
    font-size: 1.5em;   
    text-align: left; 
    padding-left: 1em;
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    width: 2.5em; /* 체크박스의 가로 크기 */
    height: 2.5em; /* 체크박스의 세로 크기 */
    margin-right: 8px; /* 체크박스와 텍스트 사이 여백 조절 */
  }

.findId{
    cursor : pointer;
}

.findPW{
    cursor : pointer;
}

.join{
    cursor : pointer;
}

.findDiv{
    display: flex;
    margin: 0.3em;
    font-size: 1.5em;
    justify-content: center;
    color:gray;
    align-items: center;
    display: flex;
    gap: 1em;
}