/* FindModal.module.css */

/* Base */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* 모달을 위로 떠오르게 설정 */
}

.modalContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  border: 1.5px solid #808080;
  border-radius: 1dvb;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 45em;
}


/* ------------공통 className------------ */
.inputContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.exitButton {
  /*❌버튼 */
  margin-top: 0.3em;
  margin-right: 0.4em;
  color: rgb(51, 51, 51);
  font-weight: bold;
  font-size: 2em;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.exitButton:hover{
  color: red;
}

.modalContent {
  padding: 1em;
  padding-top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 0;
}

.titleBox {
  display: flex;
  justify-content: center;
  border-bottom: 3px solid var(--background-color-set);
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  padding: 1rem;
}

.label {
  width: 8em;
  height: 3.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.03em;
  font-weight: bold;
  margin-right: 10px;
}

.input {
  width: 30em;
  height: 2.5em;
  font-size: 1em;
  padding: 0.3em;
  border-radius: 1dvb;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.miniInput{
  width: 100%;
  height: 80%;
  font-size: 0.8em;
  padding: 0.3em;
  border-radius: 1dvb;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Modal */

.codeContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2em;
  overflow-y: auto;
  overflow-x: auto;
}

.codeInputContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttonBox{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

.addedButton{
  margin-top: 1em;
  margin-bottom: 0.5em;
  border: 1px solid lightgray;
  background-color: lightgrey;
  padding: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  cursor: pointer;
}

.button{
  border: 1px solid lightgray;
  background-color: white;
  padding: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  cursor: pointer;
}

.selectButton{
  width: 30%;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.7rem 1rem;
  color: #000;
  background-color: #ccc;
  border-radius: 5dvw;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.5em;
  margin-right: 0.3em;
  margin-left: 0.3em;
}

.selectedButton{
  width: 30%;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.7rem 1rem;
  color: #ffffff;
  background-color: var(--background-color-set);
  border-radius: 5dvw;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.5em;
  margin-right: 0.3em;
  margin-left: 0.3em;
}

/* 모달 테이블 */
.table{
  width: 90%;
  border-bottom: 1px solid lightgray;
  text-align: center;
  align-items: center;
}

.tableLocation{
  display: flex;
  flex-direction: column;
  padding: 2em;
  border: 1px solid lightgray;
}

.listContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 1em;
}