.body {
  margin-top: 2em;
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.title {
  margin: 2em;
  padding-bottom: 1%;
  margin-right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #cc0000;
}

.subtitle {
  font-size: 1.3em;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0.5em;
  margin-left: 40px;
  margin-right: 40px;
}

.table {
  width: 95%;
  margin-left: 40px;
  padding-right: 40px;
  border: none;
  border-collapse: collapse;
}

.tr {
}

.th {
  background-color: #540000;
  color: white;
  width: 7em;
}

.td {
  background-color: #e8e8e8fd;
  border: none;
  height: max-content;
  width: 15em;
  padding: 1em;
  font-size: 1em;
  font-weight: bold;
}