.body {
  margin: 1em;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 1em;
}

.subtitle {
  font-size: 1.3em;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0.5em;
  margin-left: 40px;
  margin-right: 40px;
}

.table {
  width: 95%;
  margin-left: 40px;
  padding-right: 40px;
  border: none;
  border-collapse: collapse;
}

.tr {
}

.th {
  background-color: #540000;
  color: white;
  width: 7em;
}

.td {
  background-color: #e8e8e8fd;
  border: none;
  height: max-content;
  width: 15em;
  padding: 1em;
  font-size: 1em;
  font-weight: bold;
}