.body{
  width: 90%;
  display: flex;
  margin-left: 5%;
  flex-direction: column;
  gap: 1em;
}

.head{
  width: 100%;
  margin: 2em;
  padding-bottom: 1%;
  margin-right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #cc0000;
}

.tablebody{
  margin-left: 1%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  overflow-x: hidden;
  align-items: center;
}

.table{
  justify-content: center;
  align-items: center;
  width: 80%;
  border-top: 3px solid gray;
  border-bottom: 1px solid lightgray;
}

.name{
  width: 50%;
}
.button{
  border: none;
  border-radius: 10em;
  background-color: orangered;
  color: white;
  font-weight: 550;
  cursor : pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
}